* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px arial, verdana, sans-serif;
}
h1{
  text-align: center;
  text-transform: uppercase
}
h3 {
  font-size: 18px;
line-height: 60px;
}
p {
  margin-left: 30px;
}
span {
  color: #5c5d5d
}
ul {
  margin-left: 30px;
}
a {
  font-style: italic;
}
.box {
  background-image: url(../img/fon.jpg);
  height: 1024px;
  width: 1024px;
  margin: 0 auto;
  padding: 50px 260px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.avatar {
  text-align: center;
  /* інший варіант : display: block; margine 0 auto; */
}
.avatar img {
  border: 1px solid grey;
  width: 200px;
  margin: 20px;
}
.separator {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.section li {
  margin-top: 5px;
}
