* {
  margin: 0;
  padding: 0;
}
body{
  font: 14px arial, sans-serif;
}
a{
  font-style: italic;
}
h1{
  text-align: center;
  text-transform: uppercase;
}
h3{
  margin-top: 20px;
}
p{
  margin-left: 30px;
  padding-top: 20px;
}
span{
   color: #494a49;
}
ul{
  padding: 20px 30px 0;
  line-height: 1.5;
}
.box{
  background-image: url(../img/fon.jpg);
  width: 1024px;
  height: 1024px;
  margin: 0 auto;
  padding: 50px 260px;
  box-sizing: border-box;
}
.separator{
border-bottom: 1px solid grey;
padding-bottom: 20px;
}
.avatar {
  text-align: center;
}
.avatar img {
  border: 1px solid grey;
  margin: 20px;
  width: 200px;
}
/*.footer {
  padding: 20px 0;
}
*/
