
.container {
   /*background-image: url(../img/Background.jpg);*/
   font-family: 'Roboto', sans-serif;
   /*height: 3662px;*/
   margin: 0 auto;
   width: 1440px;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
.header {
   background-image: url(../img/headbg.jpg);
   position: relative;
   height: 90px;
}
.logospan {
   position: absolute;
   color: #ffffff;
   font-size: 32px;
   opacity: 0.2;
   left: 680px;
   top: 97px;
   z-index: 1;
}
.logo {
  float: left;
  position: relative;
  margin-top: 20px;
  margin-left: 135px;
}
.logo span {
    color: #ffffff;
    display: block;
    float: right;
    font-size: 32px;
    margin-left: 24px;
    margin-top: 10px;
}
.nav {
  position: absolute;
  margin-left: 545px;
  margin-top: 45px;
  /*display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;*/

  /*float: right;
  margin-right: 140px;
  margin-top: 45px;*/
}
.nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  width: 755px;

}
.nav li {
   display: inline-block;
   position: relative;
}
.nav a{
   /*display:block;
   color: #ffffff;
   font-size: 18px;
   margin: 10px 11px;
   text-decoration: none;*/
   text-decoration: none;
   display: block;
  /*padding: 2px;*/
   color: white;
}
.nav li:after {
  position: absolute;
  content: '';
  display: block;
  left: -11px;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: backgrount-color .5s ease,  width .5s ease;
}
.nav li:hover:after {
  width: 120%;
  background: linear-gradient(to right, #993300, #ff3333);
}
.breadcrumbs_bar {
  position: relative;
  height: 115px;
  background-image: url(../img/bkgrnd.png); /* Яка різниця з нижченаведеним background'ом ??? */
  /*background: url(../img/bkgrnd.png) repeat;*/
}
.breadcrumbs_bar span {
  display: block;
  font-size: 35px;
  color: white;
  padding-left: 135px;
  padding-top: 28px;
}
.breadcrumbs_bar img {
  position: absolute;
  left: 135px;
  bottom: 30px;
}
.framebox {
  background-color: grey;
}
.frameleftbox {
  background-color: white;
  float: left;
  height: 30px;
  width: 50%;
}
.framerightbox:before {
  content: "";
    display: block;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-width: 0px;
    position: absolute;
    left: -30px;
    bottom: 0;
    transform: rotate(0deg) skewY(0deg) skewx(0deg);
    border-bottom-color: white;
}
.framerightbox {
  float: right;
  background-image: url(../img/bkgrnd.png);
  height: 30px;
  width: 50%;
  position: relative;
}
.framerightbox ul {
    margin-left: 60px;
}
.framerightbox li {
  display: inline-block;
}
.framerightbox a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  position: relative;

}
.content {
  padding-top: 100px;
  background-color: white;
}
.footer {
  background-color: #333333;
  height: 148px;
}
