body {
  color: white;
  font: 10px Arial, Tahoma, sans-serif;
}
.box {
  background-image: url(../img/bkgrd.jpg);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 73px 0 70px;
  height: 883px;
  width: 960px;
}
.clearfix:after {
  content: '';
  clear:both;
  display: block;
}
.header {
  position: relative;
}
.logo {
  /*background-color: grey;*/
  float: left;
}
.AH {
  position: absolute;
  left: 1px;
  top: 132px;
}
.palm {
  position: absolute;
  top: 57px;
  left: 142px;
}
.logo p {
  margin-top: 177px;
  margin-bottom: 16px;
  margin-left: 85px;
}
.contacts {
  position: absolute;
  top: 152px;
  right: 10px;
}
.content {
  box-sizing: border-box;

}
.cont {
  font-size: 0;
}
.cont a {
  font-size: 15px;
  text-decoration: none;
  color: #e6e6e6;
  margin-bottom: 53px;
}
.cont li {
  display: inline-block;
  margin-right: 18px;
  vertical-align: top;
  text-align: center;
  /*display: inline;*/
}
.cont li:last-child {
  margin: 0;
}
.cont img, .cont a {
  display: block;
}
.footer {
  margin-top: 130px;
  text-align: center;
}
